appdirs==1.4.3
astroid==1.4.9
beautifulsoup4==4.5.3
certifi==2017.1.23
configparser==3.5.0
docopt==0.6.2
future==0.16.0
google==1.9.3
google-api-python-client==1.6.2
httplib2==0.10.3
isort==4.2.5
lazy-object-proxy==1.2.2
mccabe==0.6.1
oauth2client==1.5.0
packaging==16.8
pep8==1.7.0
pyasn1==0.2.3
pyasn1-modules==0.0.8
pylint==1.6.5
pyparsing==2.2.0
python-telegram-bot==5.3.0
requests==2.13.0
rsa==3.4.2
six==1.10.0
uritemplate==3.0.0
urllib3==1.20
wrapt==1.10.10
google-cloud-speech==0.25.1
