---
apiVersion: v1
kind: Secret
metadata:
  name: ${TELEGRAM_BOT_ID}-telegram-bot-token
  namespace: ${K8S_NAMESPACE}
type: Opaque
data:
  token: ${TELEGRAM_BOT_TOKEN}
---
apiVersion: v1
kind: Secret
metadata:
  name: ${TELEGRAM_BOT_ID}-private
  namespace: ${K8S_NAMESPACE}
type: Opaque
data:
  bot.token: ${TELEGRAM_BOT_TOKEN}
  google.auth: ${TELEGRAM_BOT_GCLOUD_SERVICE_KEY}
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: ${TELEGRAM_BOT_ID}
  namespace: ${K8S_NAMESPACE}
  labels:
    app: ${TELEGRAM_BOT_ID}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ${TELEGRAM_BOT_ID}
  template:
    metadata:
      labels:
        app: ${TELEGRAM_BOT_ID}
    spec:
      containers:
      - name: pybot
        image: ${DOCKER_IMAGE_NAME}:${CIRCLE_SHA1}
        env:
        - name: TELEGRAM_TOKEN
          valueFrom:
            secretKeyRef:
              name: ${TELEGRAM_BOT_ID}-telegram-bot-token
              key: token
        volumeMounts:
        - name: private
          mountPath: /usr/src/pybot/conf/private
          readOnly: true
        resources:
          requests:
            memory: 64Mi
            cpu: 200m
          limits:
            memory: 128Mi
            cpu: 300m
      volumes:
      - name: private
        secret:
          secretName: ${TELEGRAM_BOT_ID}-private
